{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Resource</title>
    <link rel="stylesheet" href="{% static 'css/resources/styles.css' %}">

</head>
<body>
    <h1>Upload a Resource</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Display errors if any -->
        {% if form.non_field_errors %}
            <div class="error">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
</body>
</html>
