<!-- Members List -->
<div class="members">
    <div class="the__title">
      <h2 class="forum-title" data-forum-id="{{ forum.id }}">
        {{ forum.name|truncatechars:30 }}
        <span>
          <i class="fa fa-link" aria-hidden="true"></i>
        </span>
      </h2>
    </div>
    <div class="sidebar-header">
      <h2>
        FORUM MEMBERS
        <!-- <span>{{ online_members_count }} / {{ total_members_count }} active</span> -->
      </h2>
    </div>
    <div class="members-list">
      {% for member_info in members_with_roles %}
      <div
        class="member {% if member_info.is_admin %}admin{% endif %}"
        data-user-id="{{ member_info.user.id }}"
      >
        <img
          src="{{ member_info.user.profile.profile_pic.url }}"
          alt="{{ member_info.user.username }}"
        />
        <div class="member-info">
          <div class="member-name">{{ member_info.user.username }}</div>
          <div class="member-likes">{{ member_info.post_likes }} likes</div>
        </div>
        <div class="member-role">
          {% if member_info.role == "Main Admin" %}
          <span class="role-badge">Main Admin</span>
          {% elif member_info.is_admin %}
          <span class="role-badge" style="background-color: #28a745"
            >Forum Admin</span
          >
          {% else %}
          <span class="role-badge">Member</span>
          {% endif %}
        </div>
      </div>
      {% endfor %} {% if user.is_authenticated and membership %} 
      {% if left_members %}
      <div class="left-members">
        <h3>Users Who Left the Forum</h3>
        {% for left_member in left_members %}
        <div class="member left-member">
          <img
            src="{{ left_member.user.profile.profile_pic.url }}"
            alt="{{ left_member.user.username }}"
          />
          <div class="member-info">
            <div class="member-name">{{ left_member.user.username }}</div>
            <div class="member-likes">
              Left on {{ left_member.left_at|date:"b d, Y \a\t g:i A"|capfirst}}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %} {% endif %}
    </div>
  </div>